<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% assign page_title = '' %}
  {% if page.title == "Home" %}
      {% capture page_title %}
        {{ site.title | strip_html }} | {{ site.tagline }}
        {% if paginator and paginator.page != 1 %} - Page {{ paginator.page }}{% endif %}
      {% endcapture %}
  {% else %}
      {% capture page_title %}
          {{ page.title }} | {{ site.title | strip_html }} | {{ site.tagline }}
      {% endcapture %}
  {% endif %}
  {% capture page_title %}
      {{ page_title | strip | rstrip | lstrip | escape | strip_newlines }}
  {% endcapture %}

  <title>{{ page_title }}</title>

  {% assign page_description = '' %}
  {% capture page_description %}
      {% if page.description %}
          {{ page.description | strip_html | strip | rstrip | strip_newlines | truncate: 160 }}
      {% else %}
          {{ site.description }}
      {% endif %}
      {%if paginator and paginator.page != 1 %} - Página {{ paginator.page }} {% endif %}
      {%if page.slug == 'category' %} Categoria: {{ page.title }}{% endif %}
      {%if page.slug == 'tag' %} Tag: {{ page.title }}{% endif %}
  {% endcapture %}

  {% capture page_description %}
      {{ page_description | strip | rstrip | lstrip | strip_newlines | escape }}
  {% endcapture %}

  <meta name="description" content="{{ page_description }}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  
  <!-- Open Graph, Facebook, Twitter etc, -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ page_description | strip_html | strip | rstrip | strip_newlines }}">
  <meta property="og:image" content="{{ page_image }}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:site_name" content="{{ site.title | strip_html }}">
  <meta property="og:locale" content="{{ site.og_locale }}">
  <meta name="twitter:card" content="summary_large_image">
  
  <!-- rel prev and next -->
  {% if paginator.previous_page %}
  <link rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  {% if paginator.next_page %}
  <link rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
  
  <!-- Altmetrics JS -->
  <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

  <!-- Canonical link tag -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | strip_html }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
