/* Styling publications */

ol.bibliography {
  margin-top: 2em;
  list-style-type: circle;
 
  li {
    margin-bottom: 1em;
    position: relative;
   
    > *:not(.altmetric-embed) {
      width: 80%;
      clear: right;
    }
   
    .authors {
      color: $medium-gray-color;
    }
    
    .author {
      display: inline-block;
    }
    
    .journal {
      font-style: italic;
    }
    
    .links {
      font-size: 0.7rem;
      margin-right: 0.1rem;
      
      a {
        text-transform: uppercase;
        display: inline-block;
        padding: 0.2rem;
        border-radius: 0.3em;
        border-width: 0;
        color: $white-color;
        background-color: $primary-color;
        text-decoration: none;
      }
      
    }
   
  }
}

.altmetric-embed {
    zoom: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0px;
    
    a {
      border-width: 0;
    }
}
