---
---

<em>{{ entry.title }}</em><br />
<span class="authors">
{% for author in entry.author_array %}
  <span class="author">{{author.first}} {{author.last}}</span>{% unless forloop.last %},{% endunless %} 
{% endfor %}
</span><br />
<span class="journal">
  <em>{{ entry.journal }}</em> {{ entry.volume }}{% if entry.number %}({{ entry.number }}){% endif %} {{ entry.pages }} ({{ entry.year }})
</span><br />
<span class="links">
  {% if entry.doi %}
  <a class="doi" href="https://doi.org/{{ entry.doi }}" title="Digital object identifier {{ entry.doi }}">DOI</a>
  {% endif %}
  {% if entry.arxivid %}
  <a class="arxiv" href="https://arxiv.org/{{ entry.arxivid }}" title="arXiv for {{entry.arxivid }}">arXiv</a>
  {% endif %}
  {% if links['pdf'] %}
  <a class="pdf" href="{{ links['pdf'] }}" title="PDF copy of this paper">PDF</a>
  {% endif %}
</span>
  {% if false %}
  {% if entry.abstract %}
<span class="abstract">
  <label class="toggle abstract-{{entry.key}}">
    <input type="checkbox" class="checkbox" />
    Toggle abstract
    <span class="detail abstract-{{entry.key}}">{{ entry.abstract }}</span>
  </label>
</span>
  {% endif %}
  {% endif %}
{% if entry.doi %}
<div class='altmetric-embed' data-badge-type='donut' data-doi='{{ entry.doi }}' data-hide-less-than='3'></div>
{% endif %}
